body {
    font-family: 'Courier New', monospace;
    margin: 10%;
    margin-top: 45px;
    padding: 0;
    background: #F0E9D2;
    color: #000000;
}

.socials{
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin: 42px;
    border-color: black;
}

a:link, a:visited {
    background-color: #678983;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-color: #181D31;
    border-radius: 8px;
}

a:hover, a:active {
    background-color: #181D31;
}

a.cardButton{
    background-color: #678983;
    color: #ffffff;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-color: #000000;
    border-width: 4px;
    border-radius: 8px;
    font-weight: bold;
}

h1{
    text-align: center;
    font-size: 48px;
}

h2{
    text-align: center;
    font-size: 36px;
    color: #181D31;
}

h3{
    font-size: 32px;
}

h5 {
    font-size: 30px;
}

h6{
    font-size: 28px;
}

p{
    font-size: 24px;
    color: #000000;
}

p.cardBoxHeading{
    font-size: 28px;
    font-weight: bolder;
}

p.carBoxSubheading{
    font-size: 18px;
}

.carBoxSubheading{
    padding-top: -10px;
}

ul{
    font-size: 18px;
}

li{
    font-size: 24px;
    color: #000000;
}

.alignLeft{
    float: left;
}

.alignRight{
    float: right;
}

.cardBox{
    border-width:6px;
    border-style:solid;
    border-color: #000000;
    border-radius: 8px;
    padding: 4px;
    margin: 2px;
    background: #E6DDC4;
}


/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #678983 #F0E9D2;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #F0E9D2;
}

*::-webkit-scrollbar-thumb {
    background-color: #678983;
    border-radius: 20px;
    border: 3px solid #F0E9D2;
}


